{% schema %}
{
  "name": "Grid V2",
  "tag": "section",
  
    "settings": [
      {
        "type": "range",
        "id": "margin_top",
        "label": "Margin Top (px)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "label": "Margin Bottom (px)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }
    ],
  "blocks": [
    {
      "type": "image",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "position",
          "label": "Position de l'image",
          "options": [
            { "value": "left", "label": "Gauche" },
            { "value": "center", "label": "Centre" },
            { "value": "right", "label": "Droite" }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Taille de l'image (px)",
          "options": [
            { "value": "565", "label": "565px" },
            { "value": "421", "label": "421px" },
            { "value": "869", "label": "869px" },
            { "value": "334", "label": "334px" }
          ],
          "default": "565"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Grid V2",
      "category": "Image"
    }
  ]
}
{% endschema %}

<div class="grid-v2-section">
  <div class="grid-v2">
    {% for block in section.blocks %}
      <div class="grid-v2__item position-{{ block.settings.position }}">
        {% if block.settings.image %}
          <img src="{{ block.settings.image | image_url: width: 800, height: 600 }}" alt="Grid image" width="800" height="600" style="width:{{ block.settings.width }}px;" />
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<style>

.grid-v2-section {
  margin-top: {{ section.settings.margin_top | default: 0 }}px;
  margin-bottom: {{ section.settings.margin_bottom | default: 0 }}px;
}

.grid-v2 {

}

.grid-v2__item img {
  height: auto;
  display: block;
}

.position-left img {
  margin-left: 0;
  margin-right: auto;
}
.position-center img {
  margin-left: auto;
  margin-right: auto;
}
.position-right img {
  margin-left: auto;
  margin-right: 0;
}


</style>
